<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>Starter | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="<%=baseurl%>assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="<%=baseurl%>assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="<%=baseurl%>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="<%=baseurl%>assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="<%=baseurl%>assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="<%=baseurl%>assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert css-->
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <!-- custom Css-->
    <link href="<%=baseurl%>assets/custom/custom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
</head>